@model IEnumerable<memoryDeneme.Models.GeneralSettings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.siteTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.siteTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GeneralSettingsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GeneralSettingsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GeneralSettingsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
